
.jumbotron.jumbotron-fluid
  .container


#callout
  .wrapper
    .row
      .col-sm-8
        %h2 Experience the awesome freedom of flight
        %p Lorem ipsum dolor amet irony food truck direct trade tousled migas health goth pop-up la croix four loko chia helvetica next level. Cliche banh mi activated charcoal fanny pack next level fingerstache ennui stumptown schlitz. Cronut poke cardigan irony lumbersexual echo park gochujang pop-up mlkshk hella salvia kitsch try-hard chia. Neutra put a bird on it fam, paleo tattooed celiac PBR&B.

      .col-sm-4
        %img.rounded.float-right{:alt => "...", :src => "/assets/shot_meds.png"}/



    .row
      .col-sm-4
        %img.rounded.float-left{:alt => "", :src => "/assets/shot_health.png"}/

      .col-sm-8
        %h2 Ditch the car
        %p Coloring book tofu bicycle rights helvetica, marfa dreamcatcher chambray sustainable cliche slow-carb lyft crucifix vape kinfolk. Vice flexitarian selfies hoodie. Messenger bag fingerstache subway tile aesthetic. Pour-over tote bag ugh, man bun ethical forage cold-pressed vegan chambray shabby chic. Portland normcore crucifix ethical salvia tattooed pitchfork intelligentsia humblebrag you probably haven't heard of them. Leggings aesthetic shaman unicorn thundercats roof party 8-bit bushwick ennui meditation twee lomo microdosing fanny pack +1.



    .row
      .col-sm-8
        %h2 Forget the TSA...
        %p Ugh gochujang aesthetic vegan vape chicharrones sustainable marfa affogato mustache lumbersexual. Palo santo brooklyn squid PBR&B occupy etsy enamel pin. Typewriter plaid pop-up gluten-free chartreuse gentrify cold-pressed leggings pok pok pabst raw denim scenester. Truffaut pour-over pork belly PBR&B migas craft beer.

      .col-sm-4
        %img.rounded.float-right{:alt => "...", :src => "/assets/shot_meds.png"}/

#footer
  %p &copy; 3WhiskeyTango 2018



