$dxo_dark: #852B61;
$dxo_light: #D158A0;
$dxo_gray: #444444;


@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.jumbotron {
	background-image: url("jumbotron.jpg");
	background-size: cover;
	height: 450px;
	margin-bottom: 0rem;
}




#callout {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 30px;
	
	h2 {
		@include bold_font;
		color: $dxo_light;
		font-size: 4.0em;
		text-align: center;
		margin-bottom: 0;
		padding-top: 30px;
	}

	i {
		font-size: 5.0rem;
		color: $dxo_dark;
		padding: 2.5rem 2.5%;
	}

	p {
		color: white;
		font-size: 2.5em;
	}
	.row {
		padding-top: 20px;
	}
}


#footer {
	text-align: center;
	padding: 7.5rem 0;
	p {
			font-size: 1.25rem;
			text-align: center;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}